@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #FCFEFE;
}

header {
	padding: 0em 2em;
	width: 90vw;
	display: flex;
	align-items: center;
	flex-flow: column;
}

.title {
	width: 90vw;
	text-align: center;
	padding: .75em;
}

.ctrl-btns {
	width: 90vw;
	padding: 1em;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-flow: row;
}

button {
	border-bottom-color: #572B00;
	border-right-color: #572B00;
	border-top-color: #E8B32A; 
	border-left-color: #E8B32A;
	padding: .25em .5em;
	background: #CC5900;
	color: white;
	font-size: 1.25em;
	border-radius: 10px;
}

.menu {
	width: 90vw;
	margin: 6vh auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

main {
	width: 90vw;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.img {
	width: 60vw;
	height: 35vh;
	border: 3px solid #E18E00;
	border-radius: .75em;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Arial', Helvetica, sans-serif;
	font-size: 1.5em;
}

.food-item {
	width: 90vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 1.5em;
	text-align: center;
}

h1 {
	font-size: 2.5rem;
	font-family: 'Baloo Tamma 2', cursive;
	color: #001E46;
	position: relative;
	display: inline-block;
}

h1::after {
	content: '';
	height: 7%;
	display: block;
	position: absolute;
}

h1::after {
	background: #F89900;
	width: 50%;
	bottom: 0px;
	left: 50%;
	transform: translateX(-50%);
}

.food-item .food-name, .food-item .price {
	font-family: 'Oswald', sans-serif;
}

.food-name {
	word-spacing: .15em;
	letter-spacing: .35em;
	color: #00263E;
	font-size: 1em;
	font-weight: bold;
}

.price {
	color: #CE8300;
	letter-spacing: .35em;
	font-weight: bold;
}

.info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 60vw;
	margin: .5em 0 .5em 0;
	padding: .25em .75em;
	border-bottom: 1px dotted black;
}

.not-visible {
	display: none;
}

@media screen and (min-width: 750px) {
	main {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 0em 1.5em;
		width: 80vw;
		margin: auto;
	}

	.food-item, .info, .img {
		width: 40vw;
	}

}

@media screen and (min-width: 1050px) {
	main {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}

	.food-item, .info, .img {
		width: 25vw;
	}
}

@media screen and (max-width: 532px) {
	button {
		transform: scale(.77);
	}
}